---
import CardHeader from "./CardHeader.astro";
import CardBody from "./CardBody.astro";

const { cardImageUrl, heading, bodyText, author, tags } = Astro.props;
---


<div class="min-h-[530px] flex overflow-hidden flex-col relative hover:scale-105 transition-transform duration-300 cursor-pointer">
  <CardHeader cardImageUrl={cardImageUrl} />
  <CardBody heading={heading} bodyText={bodyText} author={author} tags={tags} />
</div>
