---
const {props} = Astro;
const {href, target, name} = props;
---

<a href={href} target={target} class="flex font-bold items-center gap-3 ">
    <div style={{backgroundImage: `url(/${name.toLowerCase()}.svg)`}} class="h-6 w-6 mix-blend-exclusion bg-cover bg-center"></div>
    <span class="block lg:hidden">{name}</span>
</a>

